* {
  box-sizing: border-box;
}

$white: #fff;
$black: #000;
$black-light: #333333;
$red: #ff1a2c;
$grey-dark: #22191a;
$brown-dark: #22191a;
body {
  font-size: 16px;
  font-family: 'Open-Sans', sans-serif;
  background-color: $white;
  color: $white;
}

h5 {
  font-size: 24px;
  font-family: 'Montserrat-Bold', sans-serif;
}
.section-top-block {
  background: url("../images/Rogue-chefs-bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
}

.header {
  min-height: 100vh;
}
.section-title-italic {
  font-size: 30px;
  color: $red;
  text-align: center;
  margin: 5px;
  font-family: 'Great-Vibes', sans-serif;

}
.section-title {
  font-size: 44px;
  color: $grey-dark;
  text-align: center;
  line-height: 1;
  margin: 10px 5px;
  text-transform: uppercase;
  font-family: 'FjallaOne-Regular', sans-serif;
  &--white {
    color: $white;
  }
}
.section-text {
  color: $grey-dark;
  font-size: 16px;
  line-height: 1.75;
  text-align: left;
  font-family: 'Open-Sans', sans-serif;
}
p {
  font-size: 14px;
  color: $white;
}
.section-description {
  font-size: 16px;
  text-align: center;
}
button {
  &:focus {
    outline: none;
  }
}
.btn-general {
  font-size: 18px;
  margin-top: 20px;
  color: $white;
  text-transform: uppercase;
  line-height: 1.556;
  z-index: 8;
  background-color: $red;
  width: 100%;
  max-width: 180px;
  height: 50px;
  border-radius: 0;
  text-align: center;
  border: none;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $black-light;
    transform: scale(0);
    transition: transform 0.3s ease-out;
  }
  &:hover {
    &:before {
      transform: scale(1);
    }
    color: $white;
  }
  &--white {
    &:before {
      background-color: $white;
    }
    &:hover {
      color: $grey-dark;
    }
  }
}
@media (min-width: 320px) {
  .header {
    background-color: rgba(0, 0, 0, 0.4);
    .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px;
      img {
        width: 100%;
      }
    }
  }
  .section-top-block {
    .btn-general {
      margin: auto;
    }
  }

  //================================================ navbar-main
  .navbar-main {
    padding: 0;
    max-width: 890px;
    margin: auto;
    .nav-item {
      width: 100%;
      text-align: center;
      &:not(.nav-item--logo) {
        margin-top: 5px;
      }
        .nav-link {
          &.active {
            &:not(.logo) {
              &:after {
                content: "";
                display: block;
                width: 100%;
                border-bottom: 1px solid $red;
                margin: 0 auto;
                transition:all 0.3s linear 0s;
              }
            }
          }
        }
      .nav-link {
        display: inline-block;
        color: $white;
        font-size: 20px;
        text-transform: capitalize;
        font-family: 'Fjalla-One', sans-serif;
        &:not(.logo) {
          &:after {
            content: "";
            display: block;
            width: 0;
            border-bottom: 1px solid $red;
            margin: 0 auto;
            transition:all 0.3s linear 0s;
          }
        }
        &:hover {
          &:after {
            width: 100%;
          }
        }

      }
    }

  }
  //================================================ END navbar-main

  //================================================ ABOUT
  .section-about {
    .section-wrap-img {
      display: flex;
      justify-content: space-between;
      margin-left: 10px;
      img {
        width: 100%;
      }
    }
  }
  //================================================ END ABOUT


  //================================================ CLASSES
  .section-classes {
    background-color: $grey-dark;
    .btn-general {
      margin: auto;
    }
  }
  //================================================ END CLASSES

  //================================================ TRAINING
  .section-training {
    &--text {
      display: flex;
      flex-direction: column;
      order: 1;
    }
    &--img {
      order: 2;
      img {
        width: 100%;
      }
    }
    .call {
      font-size: 30px;
      color: $grey-dark;
      text-align: center;
      line-height: 1;
      margin-top: auto;
      font-family: 'FjallaOne-Regular', sans-serif;
      a {
        color: $red;
        text-decoration: none;
        padding-left: 25px;
      }
    }

  }
  //================================================ END TRAINING

  //================================================ TASTING
  .section-tasting {
    background-color: $grey-dark;
    &--description {
      font-size: 22px;
      color: $white;
      margin-top: 14px;
      text-align: center;
      font-family: 'FjallaOne-Regular', sans-serif;
    }
    &--item {
      .item__wrap-img {
        position: relative;
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        transition: color 0.3s;
        overflow: hidden;
        min-height: 350px;
        &:before {
          content: "";
          position: absolute;
          z-index: -1;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(25, 25, 25, 0.5);
          transform: scale(0);
          transition: transform 0.2s ease-out;
        }
        .btn-general {
          display: none;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-right: -50%;
          transform: translate3d(-50%, -50%, 0);
        }
        img {
          object-fit: cover;
          min-height: inherit;
          width: 100%;
        }
      }
      &:hover {
        .item__wrap-img {
          &:before {
            transform: scale(1);
            z-index: 0;
          }
          .btn-general {
            display: flex;
          }
        }
      }
    }
    .wrap-btn-general {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    &--modal {
      .btn-close {
        cursor: pointer;
        position: absolute;
        right: 10px;
        top: 10px;
      }
      &.show {
        bottom: 0;
        right: 0;
        display: flex !important;
        align-items: center;
        justify-content: center;
      }
      p {
        color: $grey-dark;
          font-size: 16px;
          line-height: 1.75;
          text-align: left;

      }
      .modal-dialog {
      }
  }
    &--modal-wrap {
      background-color: $white;

    }
    .aos-animate {
      transform: initial !important;
    }
}
//================================================ END TASTING

//================================================ CLIENT
.section-client {
background: url("../images/happy_bg.jpg") no-repeat center center;
background-size: cover;
.quote {
  text-align: center;
  margin-bottom: 12px;
}
&--slider {
  .slide {
    padding-bottom: 90px;
  }
  .carousel-description {
    font-size: 16px;
    max-height: 180px;
    overflow: hidden;
  }
  .client-name {
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open-Sans-Bold', sans-serif;
  }
}
}
//================================================ END CLIENT
//===================================================slider-general
.slider-general {
padding: 35px 0;
.slick-slider {
  padding-bottom: 60px;
}
.slick-track {
  padding: 10px 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  li {
    position: relative;
    display: inline-block;
    border: 1px solid $red;
    width: 15px;
    height: 15px;
    background: transparent;
    transition: color 0.3s;
    opacity: 1;
    margin: 0 8px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $red;
      transform: scale(0);
      transition: transform 0.3s ease-out;
    }
    &.slick-active, &:hover {
      &:before {
        transform: scale(.7);
      }
    }
    button {
      display: none;
      &:focus {
        outline: none;
      }
    }
  }
}
.slick-initialized .slick-slide {
  max-height: 286px;
  transition: transform 0.3s ease-out;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(25,25,25,0.5);
  }
  .card-img-top {
    border-radius: 0;
    max-height: 286px;
    object-fit: cover;
  }
  .classes-card--caption {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 28px;
    font-family: 'Fjalla-One', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-out;
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    z-index: 9;
    &:before {
      z-index: 1;
    }
    .classes-card--caption {
      z-index: 10;
    }
  }
}

.slick-arrow {
  position: absolute;
  bottom: -5px;
  height: 40px;
  width: 40px;
  font-size: 0;
  border: none;
  cursor: pointer;
  z-index: 1;
  background: transparent url('../images/left-arrow.png') no-repeat center;
  &:hover {
    box-shadow: 0px 0px 0px 1px #ff1a2c;
  }
}
.slick-prev {
  left: 13%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.slick-next {
  right: 13%;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.carousel-control {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  bottom: 0;
  &.left {
    left: 0;
  }
  &.right {
    left: calc(100% - 48px);
  }
  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(255, 26, 44, 1);
  }
}
.carousel-indicators {
  &--item {
    border: 1px solid $red;
    width: 15px;
    height: 15px;
    position: relative;
    background: transparent;
    transition: color 0.3s;
    opacity: 1;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $red;
      transform: scale(0);
      transition: transform 0.3s ease-out;
    }
    &.active, &:hover {

      &:before {
        transform: scale(.7);
      }
    }
  }
}
}
//=================================================== END slider-general


//=================================================== FOOTER
.footer--top {
padding: 12px 0;
background-color: $grey-dark;
.logo {
  img {
    max-height: 140px;
  }
}
.navbar-main {
  .nav-item {
    width: 100%;
    text-align: center;
    margin-top: 0;
  }
}
.social-section {
  text-align: right;
}
.social {
  .title {
    font-size: 14px;
    text-transform: uppercase;
  }
  .social--wrap {
    display: flex;
  }
  .social-network {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 0px 1px #ff1a2c;
    margin: 10px 12px;
    &.facebook {
      background: url("../images/social-facebook.png") no-repeat center center;
      &:hover {
        background: $red url("../images/social-facebook-hover.png") no-repeat center center;
      }
    }
    &.instagram {
      background: url("../images/social-insta.png") no-repeat center center;
      &:hover {
        background: $red url("../images/social-insta-hover.png") no-repeat center center;
      }
    }
  }
}
}
.contact-information {
background-color: $black;
padding: 10px;
text-align: center;
p {
  margin: 0;
}
}
//=================================================== END FOOTER

}

@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.header {
background-color: rgba(0, 0, 0, 0.0);
.logo {
  position: static;
  width: auto;
  img {
    width: 100%;
  }
}
.navbar-main {
  .nav-item {
    &:not(.nav-item--logo) {
      margin-top: 40px;
    }
  }
}
}
.section-top-block {
.btn-general {
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-right: -50%;
  transform: translate3d(-50%, -50%, 0);
}
}
.section-training {
&--text {
  order: 2;
}
&--img {
  order: 1;
}
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1180px;
  }
}

@media (min-width: 1600px) {

}
